---
layout: default
title: "Blog"
description: |
  .NET Developer
---

<div itemscope="" itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
    {% if post.noindex %}
    {% else %}
      <section class="front" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
        <article>
          <div class="subtitle">
            <h1>
              <a itemprop="name headline mainEntityOfPage" href="{{ post.url }}">{{ post.title }}</a>
            </h1>
            {%- include post-metadata.html -%}
          </div>
          <div class="main" itemprop="description">
            <p>
              {% assign content = post.excerpt | split: '<img' %}
              {{ content[0] | truncatewords: 75 | remove: '<p>' | remove: '</p>' }}
            </p>
          </div>
          <p>
            <a href="{{ post.url }}" itemprop="url">Read...</a>
          </p>
        </article>
      </section>
    {% endif %}
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous"><i class="icon-left-open-big"></i></a>
    {% endif %}
    <span>
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"><i class="icon-right-open-big"></i></a>
    {% endif %}
  </div>
</div>