<header>
  <nav class="menu">
    <div class="social-links">
      <div class="face">
        <a href="">Subscribe</a>
      </div>
      <ul>
        <li><a href="https://www.linkedin.com/in/nburmistrov/" rel="nofollow"
          title="My LinkedIn profile"><i class="icon-linkedin notranslate" aria-hidden="true"></i></a>
        </li>
        <li><a href="https://github.com/nburmistrov" rel="nofollow"
          title="Follow my GitHub prifle"><i class="icon-github notranslate" aria-hidden="true"></i></a>
        </li>
        <li><a href="https://t.me/nburmistrov" rel="nofollow"
          title="Contant with me via Telegram"><i class="icon-telegram notranslate" aria-hidden="true"></i></a>
        </li>
      </ul> 
    </div>
    <div class="static-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-me.html">About Me</a></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </nav>
</header>