<header>
  <nav class="links">
    <ul class="static">
      <li><a href="/">Home</a></li>
      <li><a href="">Subscribe</a></li>
      <li><a href="/about-me.html">About Me</a></li>
    </ul>
    <ul class="social">
      <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" rel="nofollow"
        title="My LinkedIn profile"><i class="icon-linkedin notranslate" aria-hidden="true"></i></a>
      </li>
      <li><a href="https://github.com/{{ site.github_username }}" rel="nofollow"
        title="Follow my GitHub prifle"><i class="icon-github notranslate" aria-hidden="true"></i></a>
      </li>
      <li><a href="https://t.me/{{ site.telegram_username }}" rel="nofollow"
        title="Contant with me via Telegram"><i class="icon-telegram notranslate" aria-hidden="true"></i></a>
      </li>
    </ul>  
  </nav>
</header>