{% if post == nil %}
  {% assign post = page %}
{% endif %}

<ul class="post-metadata">
  <li>
    <time itemprop="datePublished dateModified" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: "%-d %B %Y" }}
    </time>
  </li>
  <li itemprop="wordCount">
    {{ post.content | number_of_words | append: ' words' }}
  </li>
  <li>
    {% capture words %}
    {{ post.content | number_of_words }}
    {% endcapture %}
    {{ words | plus: 180 | divided_by: 180 | append: ' minutes to read' }}
  </li>
  <li>
    <i class="icon-comment"></i>
    <a href="{{ site.url }}{{ post.url }}#disqus_thread" itemprop="discussionUrl">comments</a>
  </li>
</ul>

<script id="dsq-count-scr" src="//www-burmistrov-tech.disqus.com/count.js" async></script>