@import 'defenitions';

.highlight {
  @extend %highlight-color;
  word-break: normal;
  border-radius: 5px;
  overflow: auto;
  margin-bottom: 0;
  font-size: 85%;
}

.highlighter-rouge {
  @extend %highlight-color;
}