@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400|JetBrains+Mono:400,500|Ubuntu+Mono:400');

%primary-font {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
}
