@import 'defenitions';

%list-item {
  display: inline-block;
  text-decoration: none;
}

.tag {
  $m: .3 * $em;
  @extend %highlight-color;
  font-family: $code-font;
  font-size: .65 * $em;
  margin: $m $m $m 0;
  padding: 0 .5 * $em;
  border-radius: 5px;
}
