@import 'defenitions';

.highlight {
  @extend %highlight-color;
  margin-left: 0;
  word-break: break-word;
  margin-inline-end: 0px;
  border-radius: 5px;

  pre {
    @media (min-width: 400px){ 
      padding: 15px 0px 15px 25px;
    }
  }
}

.highlighter-rouge {
  @extend %highlight-color;
}