// There are some base defenitions within the project
$width: 680px;
$em: 24px;

$code-font: 'JetBrains Mono', 'Ubuntu Mono', monospace;
$primary-font: 'Libre Baskerville', 'Georgia', 'Times New Roman', serif;

%highlight-color {
  background: rgba(242, 242, 242, 1);
  color: rgba(41, 41, 41, 1);
}

%clear { clear: both; }

%small { font-size: .85 * $em; }

%strike { text-decoration: line-through; }