@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Ubuntu+Mono:400|PT+Sans:400');

%primary-font {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
}