@import "defenitions";

.header {
  text-align: center;
  
  @media all and (max-width: $width) {
    text-align: left;
  }
}

.menu {
  @extend %flex;
  align-items: center;
  justify-content: space-between;
  font-family: $primary-font;
}

.social-links {
  ul {
    margin: $em / 2;
    font-size: $em;
    list-style: none;
  
    li {
      display: inline;
      margin: 2px;
    }

    a {
      text-decoration: none;
    }

    i {
      font-style: normal;
    }
  }
}

.static-links {
  ul {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;

    li {
      display: inline;
      padding-right: 10px;
    }
  }
}