@import "defenitions";

.header {
  text-align: center;
}

.links {
  @extend %flex;
  align-items: center;
  justify-content: space-between;
  font-family: $primary-font;

  ul {
    margin: $em / 2 0 0 0;
    padding-inline-start: 0;
    list-style: none;

    li {
      display: inline;
      padding-right: 5px;
    }
  }

  .social {
    @media (min-width: 400px){ 
      font-size: $em;
    }

    a {
      text-decoration: none;
    }

    i {
      font-style: normal;
    }
  }
}