@import 'defenitions';

%list-item {
  display: inline;
  text-decoration: none;
  white-space: nowrap;
}

.tag {
  @extend %highlight-color;
  font-family: $code-font;
  font-size: .65 * $em;
  margin-right: .5 * $em;
  padding: 0 .5 * $em;
  border-radius: 5px;
}
