@import 'defenitions';

%wrapper {
  @extend %clear;
  box-sizing: border-box;
  line-height: 1.10 * $em;
  margin-left: auto;
  margin-right: auto;
  width: $width;

  @media all and (max-width: $width) {
    line-height: 1.6 * $em;
    padding-left: $em;
    padding-right: $em;
    width: 100%;
  }
}

.wrapper {
  @extend %wrapper;
}