---
---

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400|JetBrains+Mono:400,500|Ubuntu+Mono:400');
@import 'defenitions';
@import 'mobile';
@import 'header';
@import 'wrapper';
@import 'metadata';
@import 'tag-list';
@import 'post-tags';
@import 'code-highlight';
@import 'pagination';
@import 'footer';
@import 'caption';
@import 'icons';
@import 'markdown';

$primary-font: 'Libre Baskerville', 'Georgia', 'Times New Roman', serif;

* {
  max-width: 100%;
}

body {
  margin: 0;
  color: black;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

a,
a:visited {
  color: inherit;
  text-decoration: underline;
  // scss-lint:disable PropertySpelling
  text-decoration-thickness: 1px;
  // scss-lint:enable PropertySpelling
  text-underline-position: from-font;
  &.foreign {
    &:hover {
      color: gray;
    }
  }
}

p,
blockquote,
ul,
ol,
dl,
table,
pre,
details {
  margin-bottom: 16px;
}

p {
  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
  font-weight: 600;
  font-family: $primary-font;

  a {
    text-decoration: none;
  }
}

h1 {
  margin: .67em 0;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

h2 {
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .875em;
}

h6 {
  font-size: .85em;
  color: #57606a;
}

ul,
ol {
  list-style-type: '- ';
  font-family: $primary-font;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}
