---
layout: default
comments: true
---

<article itemscope="" itemtype="http://schema.org/BlogPosting">
  <div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.url }}/images/image.png"/>
    <meta itemprop="height" content="250"/>
    <meta itemprop="width" content="250"/>
  </div>
  <meta itemprop="image" content=""/>
  <div itemscope="" itemprop="author" itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Nikita Burmistrov"/>
  </div>
  <div itemscope="" itemprop="publisher" itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Nikita Burmistrov"/>
    <div itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
      <meta itemprop="url" content="{{ site.url }}/images/image.png"/>
      <meta itemprop="height" content="250"/>
      <meta itemprop="width" content="250"/>
    </div>
  </div>
  <div class="title">
    <h1 itemprop="name headline mainEntityOfPage">{{ page.title }}</h1>
    
    {%- include post-metadata.html -%}
  
  </div>
  {{ content }}
</article>
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://www-burmistrov-tech.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>