---
layout: default
---

{% if page.posts.size > 1 %}
  <h1>There are {{ page.posts.size }} posts about {{ page.tag }}</h1>
{% else %}
  <h1>There is {{ page.posts.size }} post about {{ page.tag }}</h1>
{% endif %}

{% for post in page.posts %}
  <div class="tag-page">
    <h2>
      <a class="post" href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    {%- include post-metadata.html -%}
    <div class="main" itemprop="description">
      <p>
        {{ post.excerpt | truncatewords: 32 | remove: '<p>' | remove: '</p>' }}
      </p>
    </div>
  </div>
{% endfor %}